# <p style="text-align: center;">Housing Market Predictor</p> 

**Start Date:** 2024-03-18  
**Authors:**  *Laura Cornejo Paulino * and *Shreyas Chitransh* 

## Introduciton
--------------------------------------------------------------------------------------------------------------------------------------------
In this project we explore historical housing data and construct predictive modeling to predict housing prices with the hopes of capturing the decline in the current (2024) housing market. 

The data can be found in the following [location](https://drive.google.com/file/d/1sNm33rOHkcqPwb1QA_JnLT2VFlOlnPW7/view?usp=drive_link).


Once the data is in the appropriate directory we can conduct a big picture exploration of our data. Let's start by loading a few of the important libraries and then look at our data.

In [1]:
# Import relevant libraries

import numpy as np                      # Working with arrays 
import pandas as pd                     # Working with Datasets
from matplotlib import pyplot as plt    # Creating plots and viewing images

Let's start by loading the data with Pandas.

In [4]:
raw_df = pd.read_csv("data/Real_Estate_Sales_2001-2021_GL.csv")

/var/folders/kc/m9qz06ts38n9x4hs5pql_2vm0000gp/T/ipykernel_36982/865965641.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv("data/Real_Estate_Sales_2001-2021_GL.csv")

We can have a look at the data using `.head()` to see the first few rows and guage any insights.

In [5]:
raw_df.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,210317,2021,07/05/2022,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family,NaN,NaN,NaN,POINT (-72.846365959 41.781677018)
3,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
4,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN